<ul class="layui-tab-title mt-page mb-search">
    <li <if condition="$mark eq 1">class="layui-this"</if>><a href="{:U('Orders/sku_statistics')}">sku统计</a></li>
    <li <if condition="$mark eq 2">class="layui-this"</if>><a href="{:U('Orders/sale_statistics')}">推广统计</a></li>
    <!--<li><a href="{:U('Orders/last')}">最近订单</a></li>
    <li><a href="{:U('Orders/nopay')}">待付款订单</a></li>
    <li><a href="{:U('Orders/nosend')}">待发货订单</a></li>
    <li><a href="{:U('Orders/norefund')}">待退货退款订单</a></li>
    <li><a href="{:U('Orders/income')}">最近收入</a></li>
    <li><a href="{:U('Orders/trend')}">订单趋势</a></li>
    <li><a href="{:U('Orders/source')}">订单来源</a></li>-->
</ul>