<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title>最近收入</title>
	<link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="__LAYUI__/css/layui.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css" />
</head>
<body class="body">
	<ul class="layui-tab-title mt-page mb-search">
		<li><a href="{:U('Orders/last')}">最近订单</a></li>
		<li><a href="{:U('Orders/nopay')}">待付款订单</a></li>
		<li><a href="{:U('Orders/nosend')}">待发货订单</a></li>
		<li><a href="{:U('Orders/norefund')}">待退货退款订单</a></li>
		<li class="layui-this"><a href="javascript:void(0);">最近收入</a></li>
		<li><a href="{:U('Orders/trend')}">订单趋势</a></li>
		<li><a href="{:U('Orders/source')}">订单来源</a></li>
	</ul>
	<!--<div class="layui-form-item layui-form">-->
		<!--<div class="layui-input-inline" style="width: 295px;">-->
			<!--<input type="text" name="keyword" value="{$keyword}" placeholder="输入商品名称" class="layui-input">-->
		<!--</div>-->
		<!--<div class="layui-inline" >-->
			<!--<button class="layui-btn" lay-submit lay-filter="search">查找</button>-->
		<!--</div>-->
	<!--</div>-->
	<!--<div class="layui-form">-->
	<!--<div style="margin-left: 32px;">说明：此柱状图为最近七天的入账。</div>-->
		<div id="container" style="height: 500px;"></div>
	<!--</div>-->
	{$page}
	<script src="__LAYUI__/layui.js"></script>
	<script>
	layui.use(['form','jquery'], function() {
		var form = layui.form();
//		$ = layui.jquery;
//		form.on('submit(search)', function() {
//			var keyword = $("input[name='keyword']").val();
//			var statue = $("select[name='statue']").val();
//			window.location.href = '{:U("Orders/income")}&keyword='+ keyword;
//		});
	});
	</script>

	<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
	<script>
		var dom = document.getElementById("container");
		var myChart = echarts.init(dom);
		var app = {};
		option = null;

		option = {
			title : {
				text: '7天内人民币与美元入账',
				subtext: ''
			},
			tooltip : {
				trigger: 'axis'
			},
			legend: {
				data:['人民币','美元']
			},
			toolbox: {
				show : true,
				feature : {
					dataView : {show: true, readOnly: false},
					magicType : {show: true, type: ['line', 'bar']},
					restore : {show: true},
					saveAsImage : {show: true}
				}
			},
			calculable : true,
			xAxis : [
				{
					type : 'category',
//					data : ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月']
					data : {$key}
				}
			],
			yAxis : [
				{
					type : 'value'
				}
			],
			series : [
				{
					name:'人民币',
					type:'bar',
//					data:[2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6, 162.2, 32.6, 20.0, 6.4, 3.3],
					data:{$cn},
					markPoint : {
						data : [
							{type : 'max', name: '最大值'},
							{type : 'min', name: '最小值'}
						]
					},
					markLine : {
						data : [
							{type : 'average', name: '平均值'}
						]
					}
				},
				{
					name:'美元',
					type:'bar',
//					data:[2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 175.6, 182.2, 48.7, 18.8, 6.0, 2.3],
					data:{$uk},
					markPoint : {
						data : [
							{name : '年最高', value : 182.2, xAxis: 7, yAxis: 183},
							{name : '年最低', value : 2.3, xAxis: 11, yAxis: 3}
						]
					},
					markLine : {
						data : [
							{type : 'average', name : '平均值'}
						]
					}
				}
			]
		};

		if (option && typeof option === "object") {
			myChart.setOption(option, true);
		}
	</script>
</body>
</html>
