<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title>管理员添加</title>
	<link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="__LAYUI__/css/layui.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css" />
	<script src="__LAYUI__/jquery-1.8.3.js"></script>
	<style>
		.layui-unselect{display: none;}
	</style>
</head>
<body class="body">
	<ul class="layui-tab-title mt-page mb-form">
		<li><a href="{:U('Admin/admin_list')}">管理员列表</a></li>
		<li class="layui-this"><a href="javascript:void(0);">添加管理员</a></li>
	</ul>
	<form method="post" autocomplete="off" action="{:U('Admin/admin_doadd')}" class="layui-form">
		<div class="layui-form-item">
			<label class="layui-form-label">姓名</label>
			<div class="layui-input-inline">
				<input type="text" name="admin_name" maxlength="20" lay-verify="required" class="layui-input">
			</div>
			<div class="layui-form-mid layui-word-aux">用于登录的，必须填写</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">别称</label>
			<div class="layui-input-inline">
				<input type="text" name="admin_alias" maxlength="20" lay-verify="required" class="layui-input">
			</div>
			<div class="layui-form-mid layui-word-aux">可以不填</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">密码</label>
			<div class="layui-input-inline">
				<input type="password" name="admin_pass" maxlength="50" lay-verify="admin_pass" class="layui-input">
			</div>
			<div class="layui-form-mid layui-word-aux">管理员密码，必须填写</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">账号说明</label>
			<div class="layui-input-inline">
				<input type="text" name="admin_introduction" maxlength="200" lay-verify="admin_introduction" class="layui-input">
			</div>
			<div class="layui-form-mid layui-word-aux">可以不填</div>
		</div>

		<div class="layui-form-item">
			<label class="layui-form-label">账号类型</label>
			<div class="layui-input-inline">
				<input type="text" name="admin_type" value="2" class="layui-input">
			</div>
			<div class="layui-form-mid layui-word-aux">1.管理员 2.推广 3.物流 4.其他</div>
		</div>


		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit lay-filter="Submit">立即提交</button>
			</div>
		</div>
	</form>

	<script src="__LAYUI__/layui.js"></script>

</body>
</html>