<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title>代理人管理</title>
	<link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="__LAYUI__/css/layui.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css" />
</head>
<body class="body">
	<ul class="layui-tab-title mt-page mb-search">
		<li class="layui-this"><a href="javascript:void(0);">管理员列表</a></li>
		<li><a href="{:U('Admin/admin_add')}">添加管理员</a></li>
	</ul>
	<div class="layui-form-item layui-form">

		</div>
		<div class="layui-input-inline">
			<input type="text" name="keyword" value="{$keyword}" placeholder="输入姓名" class="layui-input">
		</div>
		<div class="layui-inline">
			<button class="layui-btn" lay-submit lay-filter="search">查找</button>
		</div>
	</div>
	<div class="layui-form">
		<table class="layui-table" lay-even lay-skin="line">
			<thead>
				<tr>
					<th>ID</th>
					<th>姓名</th>
					<th>别称</th>
					<th>订单识别码</th>
					<th>账号说明</th>
					<th>账号类型</th>
					<th>创建时间</th>
					<th>修改时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<notempty name="list">
				<foreach name="list" item="vo">
				<tr>
					<td>{$vo.admin_id}</td>
					<td>{$vo.admin_name}</td>
					<td>{$vo.admin_alias}</td>
					<td>{$vo.admin_code}</td>
					<td>{$vo.admin_introduction}</td>
					<td>
						<if condition="$vo.admin_type eq 1">管理员</if>
						<if condition="$vo.admin_type eq 2">推广</if>
						<if condition="$vo.admin_type eq 3">物流</if>
						<if condition="$vo.admin_type eq 4">其他</if>
					</td>
					<td>{$vo.create_at}</td>
					<td>{$vo.update_at}</td>
					<td>
						<a class="layui-btn layui-btn-mini" href="{:U('Admin/admin_edit',array('admin_id'=>$vo['admin_id']))}">编辑</a><a class="layui-btn layui-btn-mini layui-btn-danger" href="{:U('Admin/admin_del',array('admin_id'=>$vo['admin_id']))}">删除</a>
					</td>
				</tr>
				</foreach>
				<else />
				<tr>
					<td colspan="9" class="nodata">没有相关数据</td>
				</tr>
				</notempty>
			</tbody>
		</table>
	</div>
	{$page}
	<script src="__LAYUI__/layui.js"></script>
	<script>
	layui.use(['form','jquery'], function() {
		var form = layui.form();
		$ = layui.jquery;
		form.on('submit(search)', function() {
			keyword = $("input[name='keyword']").val();
			window.location.href = '{:U("Admin/admin_list")}&keyword='+ keyword;
		});
	});
	</script>
</body>
</html>