<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title>管理人员</title>
	<link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="__LAYUI__/css/layui.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css" />
</head>
<body class="body">
	<ul class="layui-tab-title mt-page mb-search">
		<li class="layui-this"><a href="javascript:void(0);">人员列表</a></li>
		<li><a href="{:U('system/admin_add')}">添加人员</a></li>
	</ul>
	<div class="layui-form-item layui-form">
		<div class="layui-input-inline">
			<select name="state">
				<option value="">使用状态</option>
				<option value="1" <eq name="state" value="1">selected=""</eq>>正常使用</option>
				<option value="2" <eq name="state" value="2">selected=""</eq>>禁止使用</option>
			</select>
		</div>
		<div class="layui-input-inline">
			<input type="text" name="keyword" value="{$keyword}" placeholder="登录帐号" class="layui-input">
		</div>
		<div class="layui-inline">
			<button class="layui-btn" lay-submit lay-filter="search">查找</button>
		</div>
	</div>
	<div class="layui-form">
		<table class="layui-table" lay-even lay-skin="line">
			<colgroup>
				<col width="135">
				<col>
				<col width="100">
				<col width="100">
				<col width="150">
				<col width="170">
				<col width="135">
			</colgroup>
			<thead>
				<tr>
					<th>编号</th>
					<th>登录账号</th>
					<th>使用状态</th>
					<th>登录次数</th>
					<th>最后登录地址</th>
					<th>最后登录时间</th>
					<th>操作</th>
				</tr> 
			</thead>
			<tbody>
				<if condition="$count GT 0">
				<volist name="list" id="vo">
				<tr>
					<td>{$vo.admin_id}</td>
					<td class="align-left">{$vo.admin_name}</td>
					<td>{$vo.admin_state|show_state='admin',###}</td>
					<td>{$vo.login_num}</td>
					<td>{$vo.login_ip}</td>
					<td>{$vo.login_time|date='Y-m-d H:i:s',###}</td>
					<td>
						<eq name="vo.admin_id" value="$Think.session.admin_id">
						<a class="layui-btn layui-btn-disabled layui-btn-mini" href="javascript:void(0);">禁止操作帐号</a>
						<else />
						<a class="layui-btn layui-btn-mini" href="{:U('system/admin_edit',array('admin_id'=>$vo['admin_id']))}">编辑</a> <a class="layui-btn layui-btn-mini layui-btn-danger" href="{:U('system/admin_del',array('admin_id'=>$vo['admin_id']))}">删除</a>
						</eq>
					</td>
				</tr>
				</volist>
				<else />
				<tr>
					<td colspan="7" class="nodata"></td>
				</tr>
				</if>
			</tbody>
		</table>
	</div>
	{$page}
	<script src="__LAYUI__/layui.js"></script>
	<script>
	layui.use(['form','jquery'], function() {
		var form = layui.form();
		$ = layui.jquery;
		form.on('submit(search)', function() {
			state = $("select[name='state']").val();
			keyword = $("input[name='keyword']").val();
			window.location.href = '{:U("system/admin")}&state='+ state +'&keyword='+ keyword;
		});
	});
	</script>
</body>
</html>