<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title>修改密码</title>
	<link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="__LAYUI__/css/layui.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css" />
</head>
<body class="body">
	<ul class="layui-tab-title mt-page mb-form">
		<li class="layui-this"><a href="javascript:void(0);">修改密码</a></li>
	</ul>
	<form method="post" autocomplete="off" class="layui-form">
		<div class="layui-form-item">
			<label class="layui-form-label">登录账号</label>
			<div class="layui-input-inline">
				<input type="text" name="admin_name" value="{$Think.session.admin_name}" class="layui-input" disabled="disabled">
			</div>
			<div class="layui-form-mid layui-word-aux">系统禁止变更登录账号</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">原始密码</label>
			<div class="layui-input-inline">
				<input type="password" name="old_pass" lay-verify="required" class="layui-input">
			</div>
			<div class="layui-form-mid layui-word-aux">输入未修改之前的登录密码</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">最新密码</label>
			<div class="layui-input-inline">
				<input type="password" name="new_pass" lay-verify="required|newpass" class="layui-input">
			</div>
			<div class="layui-form-mid layui-word-aux">最新密码长度不得小于8个字符，建议数字、字母、特殊符号混合使用</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">重复密码</label>
			<div class="layui-input-inline">
				<input type="password" name="agn_pass" lay-verify="required|agnpass" class="layui-input">
			</div>
			<div class="layui-form-mid layui-word-aux">再输入一次最新密码</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit lay-filter="Submit">立即提交</button>
				<button class="layui-btn layui-btn-danger" type="reset">重置</button>
			</div>
		</div>
	</form>
	<script src="__LAYUI__/layui.js"></script>
	<script>
	layui.use(['form','jquery'], function() {
		var form = layui.form();
		$ = layui.jquery;
		form.verify({
			newpass: function(value) {
				if (value.length < 8) {
					return '密码长度不得小于8个字符';
				}
			},
			agnpass: function() {
				pass1 = $("input[name='new_pass']").val();
				pass2 = $("input[name='agn_pass']").val();
				if (pass1 != pass2) {
					return '重复密码必须与最新密码一致';
				}
			}
		});
	});
	</script>
</body>
</html>