<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<title>商品管理</title>
	<link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="__LAYUI__/css/layui.css" />
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css" />
</head>
<body class="body">
	<ul class="layui-tab-title mt-page mb-search">
		<li class="layui-this"><a href="javascript:void(0);">推荐商品列表</a></li>
		<li><a href="{:U('GoodsTj/set_tj')}">添加推荐商品</a></li>
	</ul>
	<div class="layui-form-item layui-form">
		<div class="layui-input-inline">
			<input type="text" name="keyword" value="{$keyword}" placeholder="输入商品主标题或商品编号" class="layui-input">
		</div>
		<div class="layui-inline">
			<button class="layui-btn" lay-submit lay-filter="search">查找</button>
	</div>
	</div>
	<div class="layui-form">
		<table class="layui-table" lay-even lay-skin="line">
			<thead>
				<tr>
					<th>编号</th>
					<th>轮播图第一张</th>
					<th>商品主标题</th>
					<th>原价</th>
					<th>零售价</th>
					<th>团购价</th>
					<th>运费</th>
					<!--<th>销量</th>-->
					<th>状态</th>
					<th>推荐状态</th>
					<th>拼团状态</th>
					<th>促销标签</th>
					<th>普通标签</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<notempty name="list">
				<foreach name="list" item="vo">
				<tr>
					<td>{$vo.id}</td>
					<td><div style="width: 50px;height: 50px;margin:0 auto;"><img src="{$vo.goods_img}" style="width: 100%;height: 100%;"/></div></td>
					<td>{$vo.goods_title}</td>
					<td>{$vo.goods_toprice}</td>
					<td>{$vo.goods_trprice}</td>
					<td>{$vo.goods_twprice}</td>
					<td>{$vo.goods_price}</td>
					<td>
						<eq name="vo.goods_stats" value="1">出售中</eq>
						<eq name="vo.goods_stats" value="2">已下架</eq>
					</td>
					<td>
						<eq name="vo.is_tj" value="1">已推荐</eq>
						<eq name="vo.is_tj" value="0">否</eq>
					</td>
					<td>
						<gt name="vo.goods_istuan" value="0">{$vo.tuan_name}</gt>
						<eq name="vo.goods_istuan" value="0">无</eq>
					</td>
					<td>
						<gt name="vo.goods_promotion" value="0">{$vo.pro_name}</gt>
						<eq name="vo.goods_promotion" value="0">无</eq>
					</td>
					<td>
						<gt name="vo.goods_tag" value="0">{$vo.tag_name}</gt>
						<eq name="vo.goods_tag" value="0">无</eq>
					</td>
					<td>
						<a class="layui-btn layui-btn-mini" href="{:U('GoodsTj/noset_tj',array('id'=>$vo['id']))}">取消推荐</a>
					</td>
				</tr>
				</foreach>
				<else />
				<tr>
					<td colspan="9" class="nodata">没有相关数据</td>
				</tr>
				</notempty>
			</tbody>
		</table>
	</div>
	{$page}
	<script src="__LAYUI__/layui.js"></script>
	<script>
	layui.use(['form','jquery'], function() {
		var form = layui.form();
		$ = layui.jquery;
		form.on('submit(search)', function() {
			keyword = $("input[name='keyword']").val();
			window.location.href = '{:U("GoodsTj/index")}&keyword='+ keyword;
		});
	});
</script>
</body>
</html>